<!DOCTYPE html>
<html>

<head>

    <title>AGROSCAN-X</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <img src="https://cdn-icons-png.flaticon.com/512/2909/2909768.png"
            class="login-logo">

        <h1>AGROSCAN-X</h1>

        <p>
            Department of Agriculture<br>
            Government of Maharashtra
        </p>

        <input type="text" placeholder="Username">

        <input type="password" placeholder="Password">

        <button onclick="window.location='/dashboard'">
            LOGIN
        </button>

    </div>

</div>

</body>
</html>
